<div class="jumbotron mt-4">
    <h1 class="display-4">Bienvenidos</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consectetur officiis voluptas provident saepe dolore perferendis minus voluptate veritatis eum nesciunt odit, harum libero molestias quas quisquam architecto a nihil!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nulla officiis consequatur, minus corrupti et, illum eaque exercitationem ullam a esse labore aliquam nobis repudiandae unde minima cumque mollitia magnam?</p>
</div>
