<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.jpg" height="40" class="mx-auto d-inline-block " alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">Acerca de</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/notes">Todos</a>
                        <a class="dropdown-item" href="/notes/add">Añadir Nota</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications">Notificaciones</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{user.profilePicture}}" width="30px" height="30px"
                            class="rounded-circle mx-auto d-inline-block" alt="">
                        {{user.nombre}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/usuarios/logout">Cerrar Sesión</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/usuarios/signup" class="nav-link">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a href="/usuarios/signin" class="nav-link">Iniciar Sesión</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>